
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    padding-left: 3rem;
    padding-right: 3rem;

  }
.navegacion{
    background-color: rgb(9, 9, 82);
    color: rgb(224, 231, 231);
    list-style: none;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
}

.navegacion li{
    padding-left: 3rem;
    
}

.navegacion li:hover{
    font-size: 1.3rem;
    color: azure;
}

a{
    text-decoration: none;
    font-style: none;
    font-weight: none;
    font-variant: none;
    color: azure;
}

a:visited{
    text-decoration: none;
    font-style: none;
    font-weight: none;
    font-variant: none;
    color:none;
}


.banner-main{    
    height: 20rem;
    position:relative;
}
.banner-main img{
    width:20rem;
    max-width: 100%;
    height: auto;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    }

.banner-main h1{    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;    
    color: azure;
}

.presentacion h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color:#000;
    }

.about-me{
    display: flex;
    justify-content: center;
}

.about-me-left{
    width: 60%;
}

.about-me-right{
    align-content: center;
    justify-content: center;    
}

h2{
    font-size: 1.4rem;
    color: rgb(9, 9, 82);
}

.projects, .skills{
    padding-left: 8.5rem;
}

p, .project-list{
    font-size: 1.2rem;
}

.project-list{
    padding-left: 5rem;
}

.contact-me{
    text-align: center;    
    background-color: rgb(9, 9, 82);
}

.contact-me h2{
    color:  rgb(224, 231, 231);
}

.contact-me h2:hover{
    color: azure;
    font-size: 1.45rem;
}

@media (max-width: 400px){
    body {

        padding-left: 0.2rem;
        padding-right: 0.2rem;
    
      }
    .navegacion{
        padding-right: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        font-size: 1.1rem;
    }
    
    .navegacion li{
        padding-left: 1.5rem;
        
    }
    .about-me{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;

    }
    .about-me-left{
        width: 100%;
    }

    .projects, .skills, .project-list{
        padding-left:2rem;
    }


}